<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

    <link rel="stylesheet" href="/css/other-css/simple-sidebar.css">

    <!--Personal-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/concat.js"></script>


</head>
<body ng-app="photoAlbum" ng-controller="mainController">

<!-- Left-hand menu bar; be able to navigate a directory in it. Can select between
Albums, which the titles populate the side menu. When an album is clicked its details populate the body
and, its contents fill the side bar
when one of those small images is clicked, it is enlarged and populates the body; album name can be clicked
again to repopulate with album info-->

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="home">
                    Photo Album
                </a>
            </li>
            <li>
                <a ui-sref="userProfile">User Profile</a>
            </li>
            <li>
                <a ui-sref="albumList">Albums</a>
            </li>
            <li>
                <a ui-sref="allImages">All Images</a>
            </li>
        </ul>
        <div id="directoryContents" ui-view="directoryContents">

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" ui-view="body">



        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->














</body>
</html>